@model Kurs

<h2>Kurs Düzenle</h2>
<hr>


<div class="row">
    <div class="col-8">


        <form asp-controller="Kurs" asp-action="Edit" method="post">
            <input type="hidden" asp-for="KursId">
            <div class="mb-3">
                <label asp-for="Baslik" class="form-label">Kurs Başlığı</label>
                <input asp-for="Baslik" class="form-control">
            </div>
            <button type="submit" class="btn btn-secondary ">Düzenlemeyi Kaydet</button>
        </form>

    </div>
    <div class="col-4">
        <h4>Kayıtlı Öğrenciler</h4>
        <hr>
        <ul>
            @foreach(var item in @Model.Ogrenciler)
            {
                <li>@item.Ogrenci.OgrenciAdSoyad</li>

            }
        </ul>
    </div>

</div>